$off-white: #ececec;
$light-royal-blue: #16588b;
$med-royal-blue: #14507d;
$dark-royal-blue: #0f3b5c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  button {
    cursor: pointer;
  }
}

body {
  padding: 0.5rem;
}
