#food-details-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nutritional-info {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}

.nutritional-div {
  width: 13rem;
  height: 13rem;
  border-radius: 20rem;
  background-color: white;
  text-align: center;
  opacity: 0.6;
  padding: 1rem;

  h1 {
    font-size: 1.7rem;
    opacity: 0.9;
    color: black;
    font-weight: 600;
  }
}

#box-spacer {
  padding: 2rem;
}

#state-nutrition {
  font-size: 5rem;
  padding-top: 1rem;
  color: $dark-royal-blue;
}
